<input [formControl]="control" />
<ng-container
  *ngIf="control.name?.dirty && control.name?.touched && control.name?.errors"
>
  <ng-container *ngIf="control.name.errors?.['required']">
    Value is required
  </ng-container>
  <ng-container *ngIf="control.name.errors?.['minlength']">
    Value you entered is:
    {{control.name.errors?.['minlength']?.['actualLength']}}
    character long but it must be atleast
    {{control.name.errors?.['minlength']?.['requiredLength'] }}
    character
  </ng-container>
</ng-container>
